:root {
  --color-primary: #3c71ff;
  --color-secondary: #f1f5ff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

// RWD breakpoint
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    // 576 px
    @media only screen and (min-width: $bp-sm) {
      @content;
    }
  }

  @if $breakpoint == md {
    // 768 px
    @media only screen and (min-width: $bp-md) {
      @content;
    }
  }

  @if $breakpoint == lg {
    // 992 px
    @media only screen and (min-width: $bp-lg) {
      @content;
    }
  }

  @if $breakpoint == xl {
    // 1200 px
    @media only screen and (min-width: $bp-xl) {
      @content;
    }
  }
}
