////////////////////////////////////////////
//btn
.btn {
  font-size: 13px;
  background: #ffffff;
  border: 1px solid rgba(60, 113, 255, 0.5);
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  min-height: 55px;

  &__icon {
    color: var(--color-primary);
    font-size: 18px;
    margin-right: 5px;

    @include respond(sm) {
      margin-right: 10px;
    }
  }

  &:hover {
    color: #fff;
    background: var(--color-primary);
    box-shadow: 0px 6px 15px rgba(60, 113, 255, 0.4);

    & .btn__icon {
      color: #fff;
    }
  }

  &--submit {
    background: var(--color-primary);
    color: #fff;
  }
}

////////////////////////////////////////////
//back link
.back {
  position: absolute;
  display: inline-block;
  top: 20px;
  left: 15px;
  color: black;
  text-decoration: none;
  z-index: 1;
  border-bottom: 2px solid transparent;

  &:hover {
    font-weight: bold;
    border-bottom: 2px solid var(--color-primary);
  }
}

////////////////////////////////////////////
//alt way
.alt {
  font-size: 14px;
  font-weight: 400;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  &__content {
    position: relative;
    width: max-content;
    padding-right: 5px;
    background-color: #fff;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    border-top: 1px solid black;
    width: 100%;
  }
}

////////////////////////////////////////////
//form
.form {
  padding: 65px 15px;
  background-color: #fff;
  position: relative;
  max-width: 550px; // figma 400px
  height: 100vh;
  @include respond(sm) {
    height: 100%;
  }

  &__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
  }

  &__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__ask {
    font-size: 13px;
    padding-top: 20px;
    text-align: center;
    display: block;
    color: #757575;
    text-decoration: none;
    & span {
      color: var(--color-primary);
    }

    &:hover {
      color: #666565;
      & span {
        color: #315cd1;
        border-bottom: 2px solid var(--color-primary);
      }
    }
  }
}

////////////////////////////////////////////
//form-wrap
.form-wrap {
  position: relative;

  &__field {
    width: 100%;
    min-height: 55px;
    display: block;
    background-color: var(--color-secondary);
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-bottom: 12px;

    &--active {
      padding-top: 30px;
    }

    &::-webkit-input-placeholder {
      font-size: 14px;
    }

    &:focus {
      outline: none;
    }
  }

  &__sub {
    position: absolute;
    top: 15%;
    left: 10px; // same as padding
    font-size: 10px;
    line-height: 12px;
    color: #757575;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    color: #ababab;
    cursor: pointer;
    transform: translateY(-50%);

    &--active {
      color: var(--color-primary);
    }
  }
}

////////////////////////////////////////////
//form-verify
.form-verify {
  display: flex;
  font-size: 10px;
  color: #ababab;
  margin-top: -6px;

  &__box {
    padding-right: 15px;

    &--verify {
      color: black;
      & i {
        color: #4ae7a5;
      }
    }
  }
}

////////////////////////////////////////////
//form-confirm (checkbox)
.form-confirm {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 16px;
  color: #757575;

  &__box {
    margin-right: 15px;
    opacity: 0;
  }

  &__label {
    position: relative;

    &:before {
      cursor: pointer;
      content: '';
      width: 20px;
      height: 20px;
      background-color: #ddd;
      display: inline-block;
      position: absolute;
      top: 6px;
      left: -28px;
    }
  }

  & input[type='checkbox']:checked + label:after {
    content: '\002714';
    color: var(--color-primary);
    position: absolute;
    left: -25px;
    top: 1px;
    font-size: 27px;
  }
}
